{% extends 'generic/object_list.html' %}
{% load buttons %}

{% block bulk_buttons %}
{% include 'netbox_windows_dhcp/inc/bulk_action_buttons_style.html' %}
<div class="bulk-action-buttons-custom">
  <button type="submit"
          formaction="{% url 'plugins:netbox_windows_dhcp:dhcpfailover_bulk_maintenance' %}"
          class="btn btn-warning">
    <i class="mdi mdi-pause-circle-outline"></i> Bulk Maintenance Mode
  </button>
  <button type="submit"
          formaction="{% url 'plugins:netbox_windows_dhcp:dhcpfailover_bulk_toggle_sync' %}"
          class="btn btn-secondary">
    <i class="mdi mdi-sync"></i> Toggle Sync for Selected
  </button>
  <div class="bulk-action-buttons">
    {% action_buttons actions model multi=True %}
  </div>
</div>
{% endblock bulk_buttons %}
